
:root{
  --doc-height: 100%;

}


body{
  background: #d1edd1;
  padding: 20px;
  /* background: rgb(193, 244, 195); */
  /* background: rgba(184, 197, 147, 0.214); */
  /* background: whitesmoke; */
  /* background: rgb(167, 198, 232); */
  
}

p,h4,h3,h2{
  margin: 0;
}
ul{
  list-style: none;
  padding: 0;
}
a{
  text-decoration: none;
  color:gray
}